:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --white: #fff;
    --cornflower: #e7e9fc;
    --slate: #434455;
    --cloud: #f4f4fd;
    --ocean: #404bbf;
    --dairy: #fcfcfc;
    --lightslate: #8e8f99;
    --green: #31d0aa;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
.container {
    max-width: 1440px;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: var(--slate);
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}
.page-nav-item {
    position: relative;
    color: var(--ocean);
}
.current::after {
    border-radius: 2px;
    background-color: var(--ocean);
    content: '';
    width: 48px;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
}
.current-portfolio::after {
    border-radius: 2px;
    background-color: var(--ocean);
    content: '';
    width: 66px;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.header {
    background-color: var(--cornflower);
}

.logo {
    color: var(--iris);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    padding: 24px 0px 24px 0px;
    align-items: center;
    flex-shrink: 0;
    display: inline-flex;
    margin-right: 76px;
}

.logo-footer {
    color: var(--iris);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    align-items: center;
    flex-shrink: 0;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer .studio {
    color: var(--cloud);
}
.studio-header {
    color: var(--navyblue);
}

.menu {
    color: var(--navyblue);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 24px 0;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover {
    color: var(--ocean);
}
.menu:focus {
    color: var(--ocean);
}

.address {
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: var(--slate);
}
.contacts {
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:focus {
    color: var(--ocean);
}
.contacts:hover {
    color: var(--ocean);
}
.page-header {
    box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
    display: flex;
    gap: 332px;
}
.page-nav {
    display: flex;
    align-items: center;
}
.page-nav-list,
.address-nav-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
    color: var(--ocean);
    position: relative;
}

.service {
    padding: 188px 0px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.header-one {
    color: var(--white);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    flex-shrink: 0;
}

.order-service-button {
    background-color: var(--iris);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    color: var(--white);
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 4px;
    border: 0px;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
    background-color: var(--ocean);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
    padding-top: 80px;
    padding-bottom: 8px;
    transition: opacity 0.4s, visibility 0.4s;
}
.modal-open {
    max-width: 408px;
    height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--dairy);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    margin: 0 auto;
    z-index: 1;
    position: relative;
}
.close-modal {
    background-color: var(--cloud);
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--cornflower);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover,
.close-modal:focus {
    background-color: var(--ocean);
    border: 1px solid var(--ocean);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
    height: 8px;
    width: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover .icon-close,
.close-modal:focus .icon-close {
    fill: var(--white);
}
.feature .container .feature-list {
    display: flex;
    gap: 24px;
}
.feature {
    padding: 120px 0;
}
.feature-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}
.box-icon-feature {
    padding: 24px 100px;
    background-color: var(--cloud, #f4f4fd);
}
.icon-feature {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 4px;
}
.header-three {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    margin-bottom: 8px;
}
.paragraph {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}
.team-member-item .h-team,
.team-member-item .p-team {
    text-align: center;
    margin-bottom: 0;
}

.what-are-we-doing {
    padding-bottom: 120px;
}
.what-are-we-doing-list {
    display: flex;
    gap: 24px;
}
.what-are-we-doing-item {
    display: inline-flex;
    flex-direction: column;
}

.header-two {
    margin-bottom: 72px;
    color: var(--navyblue);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
.section-team {
    background-color: var(--cloud);
    padding: 120px 0;
}
.section-team .team-member-list {
    display: flex;
    gap: 24px;
}
.team-member-item {
    background-color: var(--white);
    display: inline-flex;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
    justify-content: center;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.info-about-team {
    display: flex;
    flex-direction: column;
    padding: 32px 16px;
    gap: 8px;
}
.team-member-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-contact-list {
    display: flex;
    gap: 24px;
}
.team-contact-link {
    background-color: var(--iris);
    height: 40px;
    width: 40px;
    padding: 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-contact-link:hover,
.team-contact-link:focus {
    background-color: var(--ocean);
}
.icon-contact {
    width: 16px;
    height: 16px;
    fill: var(--cloud);
}
.section-customers {
    padding: 120px 0px;
}
.icon-customers {
    height: 56px;
    width: 104px;
    fill: var(--lightslate);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list {
    display: flex;
    gap: 24px;
}

.customers-link {
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--lightslate);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
    border: 1px solid var(--ocean);
}
.customers-link:hover .icon-customers,
.customers-link:focus .icon-customers {
    fill: var(--ocean);
}
.header-bottom {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
}
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.container .category-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.button-category {
    background-color: var(--cloud);
    color: var(--iris);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    padding: 12px 24px;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-category:hover,
.button-category:focus {
    background-color: var(--ocean);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.container .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: 360px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-info {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    border: 1px solid var(--cornflower);
    border-top: none;
}
.box-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    background-color: var(--iris);
    position: absolute;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.portfolio-item-work:hover .overlay {
    transform: translateY(0);
}
.portfolio-item:hover,
.portfolio-item:focus {
    border: 1px solid var(--cloud, #f4f4fd);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.p-overlay {
    color: var(--cloud);
    padding: 40px 32px 164px 32px;
}
.footer {
    background-color: var(--navyblue);
    padding: 100px 0;
}

.conclusion {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color: var(--cloud);
    max-width: 264px;
}
.p-footer {
    font-weight: 500;
    color: var(--white);
    margin-bottom: 16px;
}
/* .conclusion-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.social-links-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
} */
.footer-box {
    display: flex;
    gap: 120px;
}

.social-links-list {
    display: flex;
    gap: 16px;
}

.social-link {
    background-color: var(--iris);
    height: 40px;
    width: 40px;
    padding: 8px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social-link {
    width: 24px;
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--cloud);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--green);
}
/* .social-link:hover .icon-social-link,
.social-link:focus .icon-social-link {
    fill: var(--cloud);
} */
